* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.fv-caps {
  font-variant: small-caps;
}

.mdx-content p {
  font-family: var(--font-barlow);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #101010;
  margin: 30px 0px;
}
.mdx-content a {
  color: #f77e00;
  font-weight: bold;
}
.donate_img {
    margin-top: 50px;
    padding: 50px;
}