@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-black text-lg font-normal;
  }

  h1 {
    @apply font-extrabold text-smh1 md:text-h1;
  }

  h2 {
    @apply font-extrabold text-smh2  md:text-h2;
  }

  h3 {
    @apply font-bold text-smh2 md:text-h3;
  }
  h4 {
    @apply font-normal text-smh4 md:text-h4;
  }
}

@layer components {
  .row {
    @apply gap-y-6 flex  flex-wrap;
  }
  .col-3x {
    @apply w-full sm:w-1/2 lg:w-1/3;
  }
  .col-4x {
    @apply w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5;
  }
  .btn {
    @apply bg-secondary min-w-[126px] min-h-[52px] text-white flex items-center justify-center p-2 hover:bg-primary;
  }
}
